*{
	margin:0px;
	padding:0px;
}

body{
	background-color:rgb(29, 53, 92);
}

.container{
	margin-left:10px;
	margin-top:10px;
	width:1200px;
	height:1000px;
}

.header{
	background-color: rgb(204, 50, 59);
	width:1200px;
	height:45px;
	border-radius: 10px;
}

p, h1, h2{
	color:rgb(149, 181, 218);
}

.nav{
	background-color: rgb(47, 125, 139);
	padding:20px;
	border-radius:10px;
	width:200;
	display: inline-block;
	color: rgb(105, 210, 198);
	vertical-align: top;
	margin-top:20px;
}

a{
	color: rgb(105, 210, 198);
}

li{
	margin-left:20px;
	color: rgb(105, 210, 198);
}

.lessons{
	padding-left:30px;
}

.bold{
	color: rgb(105, 100, 300);
}

.content{
	margin-top:20px;
	background-color: rgb(15, 24,34);
	width: 912px;
	display:inline-block;
	vertical-align: top;
	border-radius: 10px;
	margin-left:20px;
	padding:20px;
}

.footer{
	background-color: rgb(94, 102, 114);
	display:inline-block;
	vertical-align: top;
	margin-top:20px;
	border-radius:10px;
	width:1200px;
	padding:20px;
}