*{
    padding:0px;
    margin:0px;
}

.container{
    background-color:white;
    width:1000px;
    margin-left: 50px;
}

.header img{
    height: 120px;
    display:inline-block;
    position:relative;
    top:30px;
}

.header h1{
    font: 55px arial;
    display:inline-block;
}

.header span{
    color:blue;
}

.header h2{
    font: 35px arial;
    background:linear-gradient(rgb(0, 75, 125), rgb(0, 100,150), rgb(0, 75, 125));
    padding:15px;
    color:white
}

.body{
    width:1000px;
    display:inline-block;
    background:linear-gradient(lightgrey, white, white, white,white,white,white,white);
}

.left{
    width: 225px;
    display:inline-block;
    margin-left:5px;
}

.left h3{
    font: 20px arial;
    font-weight:bold;
    margin-top:25px;
}

.left p{
    font: 15px arial;
    font-weight:bold;
    margin-top:10px;
}

.left h2.b1{
    background: linear-gradient(rgb(0,125,175), rgb(0,75,125));
    font: 20px arial;
    color:white;
    text-align:center;
    padding:10px;
    border-radius: 5px;
    box-shadow:3px 3px grey;
    margin-top: 20px;
    display:inline-block;
    width:200px;;
}

.left h2.b2{
    background: linear-gradient(rgb(300, 200, 50), rgb(200,100,0));
    font: 20px arial;
    color:white;
    text-align:center;
    padding:10px;
    border-radius: 5px;
    box-shadow:3px 3px grey;
    margin-top: 5px;
    display:inline-block;
    width:200px;
}

.left span{
    color:red;
}

.left span.topic{
    color:rgb(0, 100, 150);
}

.left .bottom{
    display:inline-block;
    border-top:1px solid black;
    margin-top:30px;
    text-align:center;
}
.left img.background{
    width:225px;
    bottom:10px;
    position:relative;
    border-top: 3px solid black;
    margin-top: 40px;
}

.left h1{
    font: 27px arial;
    position:absolute;
    text-align:center;
    width:225px;
    color:white;
    bottom:300px;
}

.left img.logo{
    height: 125px;
    position:absolute;
    left:125px;
    top:600px;
    display:inline-block;
}

.left h2.b3{
    font:20px arial;
    color:white;
    background:linear-gradient(rgb(150,300,300),rgb(100,200,300),rgb(100,200,300),rgb(100,200,300), rgb(150,300,300));
    border-radius:5px;
    padding:8px;
    width:165px;
    margin-left: 22px;
    bottom:115px;
    position:absolute;
}

.left .bottom span{
    font:13px arial;
}

.left span.light{
    color:rgb(150,300,300);
}

.left span.med{
    color:rgb(225,300,300);
}

.left span.dark{
    color:white;
}

.right{
    display:inline-block;
    width:725px;
    margin-left:35px;
}

.right .top{
    padding-bottom:30px;
    margin-top:5px;
    border-bottom:1px solid black;
}

.topLeft{
    display:inline-block;
    margin-top:10px;
}

.topLeft img{
    height: 20px;
    display:inline-block;
}

.topLeft h3{
    display:inline-block;
    font: 20px arial;
    color:rgb(0,75,125);
}

.topRight{
    display:inline-block;
    float:right;
    margin-right:5px;
}

.topRight img{
    height:50px;
    margin-right:10px;
}

.topRight .contact{
    display:inline-block;
    text-align:center;
}

.topRight .contact p{
    font: 10px arial;
}

.topRight .contact h1{
    font: 25px arial;
    font-weight: bold;
    color: rgb(100,175,300);
}

.content{
    display:inline-block;
}

.content h2{
    font:25px arial;
    color: rgb(0, 75, 125);
    margin-top:5px;
}

.content p{
    font:15px arial;
    margin-top:5px;
}

.content span.topic{
    color: rgb(100,175,300);
}

.sec0 span.bold{
    font-weight:bold;
}

.content ul{
    margin-left:50px;
    margin-top:5px;
}

.sec0 img{
    height:100px;
    margin-left: 220px;
    margin-top:10px;
}

.sec1 ul{
    list-style-type: decimal;
}

.sec2{
    margin:20px;
    border:5px solid blue;
    display:inline-block;
}

.sec2 .text{
    display:inline-block;
    width: 480px;
}

.sec2 img{
    margin: 10px;
    height:150px;
}

.sec2 a{
    text-decoration:none;
    color: rgb(0, 75, 125);
}
