*{
    padding:0px;
    margin:0px;
}

.container{
    background-color:white;
    width:1000px;
    margin-left: 50px;
}

.header img{
    height: 120px;
    display:inline-block;
    position:relative;
    top:30px;
}

.header h1{
    font: 55px arial;
    display:inline-block;
}

.header span{
    color:blue;
}

.header h2{
    font: 35px arial;
    background:linear-gradient(rgb(0, 75, 125), rgb(0, 100,150), rgb(0, 75, 125));
    padding:15px;
    color:white
}

.body{
    width:1000px;
    display:inline-block;
    background:linear-gradient(lightgrey, white, white, white,white,white,white,white);
}

.left{
    width: 225px;
    display:inline-block;
    margin-left:5px;
}

.left h3{
    font: 20px arial;
    font-weight:bold;
    margin-top:25px;
}

.left p{
    font: 15px arial;
    font-weight:bold;
    margin-top:10px;
}

.left h2.b1{
    background: linear-gradient(rgb(0,125,175), rgb(0,75,125));
    font: 20px arial;
    color:white;
    text-align:center;
    padding:10px;
    border-radius: 5px;
    box-shadow:3px 3px grey;
    margin-top: 20px;
    display:inline-block;
    width:200px;;
}

.left h2.b2{
    background: linear-gradient(rgb(300, 200, 50), rgb(200,100,0));
    font: 20px arial;
    color:white;
    text-align:center;
    padding:10px;
    border-radius: 5px;
    box-shadow:3px 3px grey;
    margin-top: 5px;
    display:inline-block;
    width:200px;
}

.left span{
    color:red;
}

.left span.topic{
    color:rgb(0, 100, 150);
}

.left .bottom{
    display:inline-block;
    border-top:1px solid black;
    margin-top:30px;
    text-align:center;
}
.left img.background{
    width:225px;
    bottom:10px;
    position:relative;
    border-top: 3px solid black;
    margin-top: 40px;
}

.left h1{
    font: 27px arial;
    position:absolute;
    text-align:center;
    width:225px;
    color:white;
    bottom:300px;
}

.left img.logo{
    height: 125px;
    position:absolute;
    left:125px;
    top:600px;
    display:inline-block;
}

.left h2.b3{
    font:20px arial;
    color:white;
    background:linear-gradient(rgb(150,300,300),rgb(100,200,300),rgb(100,200,300),rgb(100,200,300), rgb(150,300,300));
    border-radius:5px;
    padding:8px;
    width:165px;
    margin-left: 22px;
    bottom:115px;
    position:absolute;
}

.left .bottom span{
    font:13px arial;
}

.left span.light{
    color:rgb(150,300,300);
}

.left span.med{
    color:rgb(225,300,300);
}

.left span.dark{
    color:white;
}

.right{
    display:inline-block;
    width:700px
}

.right img{
    height: 20px;
}