*{
	padding:0px;
	margin:0px;
}

.container{
	width:880px;
	background-color:brown;
}

.header{
	display: inline-block;
	height:75px;
	background-color:white;
	width: 880px;
}

.header h1{
	display:inline-block;
	font:30px "Comic Sans MS", cursive, sans-serif;
	background-color: white;
	margin-top: 14px;
	margin-left:14px;
}

.header h2{
	display:inline-block;
	background-color:white;
	float:right;
	margin-top:24px;
	margin-right:24px;
	font: 15px arial bold;
	text-align:middle;
}

.content{
	margin-top:15px;
	display:inline-block;
}

.content img{
	height: 241px;
	display: inline-block;
	border: 5px solid lightgrey;
	margin-left:15px;
}

.about{
	display:inline-block;
	width:455px;
	height:250px;
	vertical-align:top;
	font: 15px arial;
	color:black;
	margin-right:15px;
	margin-left:15px;
}

.about h2{
	height:20px;
	width:435px;
	background-color:grey;
	color:white;
	font: 20px arial;
	padding:10px;
	text-align:middle;
	display: inline-block;
}

.about p{
	padding:10px;
	color:grey;
	background-color:white;
	display:inline-block;
}

.projects{
	height:600px;
	margin-top:15px;
	margin-bottom:15px;
	display:inline-block;
}

.column{
	width:270px;
	background-color:white;
	display:inline-block;
	margin-left:15px;
	vertical-align: top;
}

.column img{
	width:270px;
	height:150px;
	display:inline-block;
}

.column h2{
	height:20px;
	width:250px;
	background-color:grey;
	color:white;
	font: 20px arial;
	padding:10px;
	text-align:middle;
	display: inline-block;
}

.top p{
	height:170px;
	padding:9px;
	font: 15px arial;
	text-align: justify;
	display:inline-block;
}

.bottom{
	display:inline-block;
	padding-bottom:20px;
}

.bottom h3{
	width:100px;
	margin-left:90px;
	text-align:center;
	background-color:green;
	border-radius:5px;
	border: 1px solid black;
}

.tech{
	height:125px;
}

.tech img{
	height:40px;
	width:40px;
	margin-top:9px;
	margin-left:9px;
	display:inline-block;
}

a{
	background-color:white;
	color:grey;
}

.footer{
	height:100px;
	width:100%;
	display:inline-block;
	background-color:white;
	text-align:center;
	font: 15px arial;
	color:grey;
}

.footer img{
	height:20px;
	margin-bottom:-5px;
}

.links{
	text-decoration: underline;
	font-style:italic;
}


