*{
	padding:0px;
	margin:0px;
}

.container{
	height:1000px;
	width:1000px;
	background-color: rgb(0, 84, 138);
}

.header{
	height:100px;
}

.left{
	display:inline-block;
}

.right{
	display:inline-block;
	float:right;
}

.left img{
	height:100px;
	margin-left:30px;
	margin-top:20px;
}


.size{
	margin-left: 90px;
	font:12px arial;
	margin-right: 20px;
	margin-top:10px;
	margin-bottom:5px;
}

.size a{
	color: goldenrod;
	display:inline-block;
}

.size p{
	color:white;
	display:inline-block;
}

.searchbar{
	background-color:rgb(70,70,70);
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	padding-right:30px;
	border-radius:5px;
	box-shadow:2px 2px rgb(50,50,50);
	margin-right:20px;
}

input[type=text]{
	height:25px;
	width:150px;
	text-align:center;
	color:lightgrey;
	border: 2px solid lightgrey;
	font: 10px arial;
	display:inline-block;
}

input[type=submit]{
	height:25px;
	width:35px;
	text-align:center;
	background-color:rgb(0,84,120);
	font: 10px arial;
	color:white;
	border-radius:5px;
	display:inline-block;
}